<h1> Landmarks </h1>
<% @landmarks.each do |landmark| %>
<li><a href="/landmark/<%=landmark.id%>"><%=landmark.name%></a></li>
<li><%=landmark.year_completed%><li>
<%end%>
<a class="button" href="landmarks/new"> New Landmark Here</a>
<a class="button" href="/figures"> View Figures</a>
